
rough_work/02-data-cleaning/Spectral Cluster Models Juliette/spectral_clustering_model_k=2.pkl
rough_work/02-data-cleaning/Spectral Cluster Models Juliette/spectral_clustering_model_k=3.pkl
rough_work/02-data-cleaning/Spectral Cluster Models Juliette/spectral_clustering_model_k=4.pkl
rough_work/02-data-cleaning/Spectral Cluster Models Juliette/spectral_clustering_model_k=5.pkl
